html {
	background-color: #33CCFF;
	}

h1 {
	font-size: 	200px;
	font-family: Roman;
	text-align: center;
	background-color: black;
	color: #33CCFF;
	}
	
h3 {
	font-size: 30px;
	}
	
h6 {
	font-size: 20px;
	}
	
a, p {
	font-size: 70px;
	font-family: Roman;
	color: black;
	text-decoration: underline;
	}
	
p {
	font-size: 90px;
	color: black;
	text-decoration: none;
	line-height: 0px;
	}
	
	
#menu {
	position: absolute;
	left: 20%;
	top: 25%;
	font-family:Monaco;

	
	}
	
#picture {
	position: absolute;
	left: 65%;
	top: 25%;
	}